{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Coletivo | ACJOGOS-RJ</title>
    
    <link rel="stylesheet" href="{% static 'css/coletivos/perfil.css' %}">
    
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>

<div class="theme-wrapper">
    <div class="profile-card-container">
        
        <h2 class="neon-title">Perfil Institucional</h2>

        <div class="read-only-box">
            <div class="info-group">
                <label>Instituição</label>
                <span>{{ coletivo.nome_institucional }}</span>
            </div>
            <div class="info-group">
                <label>CNPJ</label>
                <span>{{ coletivo.cnpj|default:"Não informado" }}</span>
            </div>
            <div class="info-group">
                <label>Responsável</label>
                <span>{{ coletivo.responsavel }}</span>
            </div>
            <div class="info-group">
                <label>E-mail</label>
                <span>{{ coletivo.email }}</span>
            </div>
        </div>

        <div class="profile-actions">
            <a href="/" class="btn-neon">VOLTAR AO INÍCIO</a>

        </div>
    </div>
</div>

<script>
    lucide.createIcons();
</script>
</body>
</html>