{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/registration/login_style.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="logo-area">
        <h1 class="logo-text">Nova Senha</h1>
    </div>
    <p class="subtitle">Quase lá! Escolha uma nova senha segura.</p>
    
    <form method="post" class="login-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <span class="error-text">{{ field.errors.0 }}</span>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn-login">Confirmar Nova Senha</button>
    </form>
</div>
{% endblock %}