{% extends 'base_auth.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/registration/login_style.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="logo-area">
        <h1 class="logo-text">Sucesso</h1>
    </div>
    <p class="subtitle">Sua senha foi redefinida com sucesso! Você já pode acessar o sistema.</p>

    <a href="{% url 'login' %}" class="btn-login"
        style="display: block; text-decoration: none; text-align: center;">Fazer Login</a>
</div>
{% endblock %}