{% extends 'base_auth.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/registration/login_style.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="logo-area">
        <h1 class="logo-text">Recuperar</h1>
    </div>
    <p class="subtitle">Insira seu e-mail cadastrado para receber as instruções de recuperação.</p>
    
    <form method="post" class="login-form">
        {% csrf_token %}
        <div class="form-group">
            <label>EMAIL</label>
            {# Renderizamos o campo individualmente para ter controle total #}
            {{ form.email }}
        </div>
        
        {# Adicionamos a classe btn-login que você já tem no seu CSS #}
        <button type="submit" class="btn-login">Enviar Link</button>
    </form>

    <div class="reset-link">
        <a href="{% url 'login' %}">Voltar para o Login</a>
    </div>
</div>
{% endblock %}