{% extends 'base_auth.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/perfis/cadastro_pendente.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="logo-area">
        <h1 class="logo-text-wait">Aguarde</h1>
    </div>

    <div class="info-section">
        <p class="subtitle">Seu cadastro está em <strong class="accent-text">Análise Pendente</strong>.</p>
        <p class="text-detail">
            Nossa equipe está revisando suas informações. Você receberá um e-mail assim que o acesso for liberado.
        </p>
    </div>

    <div class="reset-link">
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-button">
                Sair do Sistema
            </button>
        </form>
    </div>
</div>
{% endblock %}