{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ACJOGOS-RJ{% endblock %}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    {# Bloco de CSS: O login_style.css fica como padrão #}
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
    {% endblock %}
</head>
<body>

    {% block content %}
    {% endblock %}

    {# Bloco de JS: O auth.js fica como padrão, mas pode ser alterado se necessário #}
    {% block js %}
    <script src="{% static 'js/auth.js' %}"></script>
    {% endblock %}
</body>
</html>