{% extends 'dashboard/dashboard_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Bem-vindo ao seu painel</h1>

<p>
    Aqui você pode gerenciar suas informações, empresas e acompanhar seu status.
</p>

{% if perfil.tipo_usuario == 'ASSOCIADO' %}
    <p>Você está logado como <strong>Associado</strong>.</p>
{% elif perfil.tipo_usuario == 'AFILIADO' %}
    <p>Você está logado como <strong>Afiliado</strong>.</p>
{% elif perfil.tipo_usuario == 'COLETIVO' %}
    <p>Você está logado como <strong>Coletivo Institucional</strong>.</p>
{% endif %}

{% endblock %}
